doctype html
html(lang="en", ng-app="commentForest")
  head
    title Comment Forest!
    link(rel='stylesheet', href='/css/style.css')
    block headerLinks
  body(ng-controller="MainCtrl")
    .container
        block content
    script(type='text/javascript', src='js/angular.min.js')
    script(type='text/javascript', src='js/app.js')
