$color-gray3 = #333
$color-gray6 = #666
$color-gray9 = #999
$color-graye = #eee
$color-grayc = #ccc
$color-white = #fff
$color-orange = orange

.comment-list
  padding: 0
  list-style: none
  margin: 0 10px
  .comment-item
    color: $color-gray6
    margin-bottom: 15px
    padding: 15px
    background-color: $color-white
    box-sizing: border-box
    position: relative
    &:first-child
      margin-top: 15px
    &.new-item
      background-color: #FAFFE7
    .content
      position: relative
      margin-bottom: 5px
      line-height: 1.7
      letter-spacing: 0.5px
    .user-submit
      position: relative
      width: 40%
      color: $color-grayc
      margin-top: 15px
      font-size: 12px
      display: inline-block
      .reveal
        line-height: 30px
        margin-bottom: 10px
        .reveal-name
          display: inline-block
          margin-left: 15px
        .avatar
          width: 30px
          height: 30px
          border-radius: 50%
          vertical-align: middle
      .rate
        .rate-star
          position: relative
          display: inline-block
        .tags
          position: relative
          display: inline-block
          margin-left: 10px
          .tag
            position: relative
            width: 15px
            height: 15px
            padding: 0 1px
            color: $color-white
            background-color: $color-orange
            text-align: center
            vertical-align: middle
        .rsts
          list-style: none
          padding: 0
          .rst
            display: inline
            span
              padding-right: 5px
    .shop-meta
      position: relative
      width: 60%
      color: $color-gray9
      margin-top: 15px
      font-size: 12px
      display: inline-block
      text-align: right
      .shop-name
        font-size: 14px
        color: $color-gray3
        padding-bottom: 5px
      .shop-preview
        width: 96px
        height: 96px
      .shop-comment
        position: relative
        width: 100%
        .shop-price
          margin-right: 5px
      .tags
        list-style: none
        padding: 0
        .tag
          display: inline
          span
            padding-right: 5px
