@import './vars.styl';
@import './toast.styl'

html, body
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif
  // width: $window-width
  margin: 0 auto
  background-color: #eee
a
  color: #00B7FF

.container
  line-height: 1.5

.clearfix
  zoom: 1
.clearfix:before,
.clearfix:after
  content: ""
  display: table
.clearfix:after
  clear: both

