@import './vars.styl';

.global-toast
  position: fixed
  bottom: 0
  left: 0
  min-width: 120px
  background-color: #5bb75b
  text-align: right
  z-index: 10000
  margin: 10px
  line-height: 1.2
  padding: 15px 10px
  box-sizing: border-box
  .toast-text
    text-align: right
    font-size: 14px
    color: #fff
